## Exercise of Titanic data set

In [1]:
# plotly importing with embedding in joupter notebook 
from plotly.offline import init_notebook_mode,iplot
import plotly.graph_objects as go
import plotly.express as px

init_notebook_mode(connected=True)

# Data science imports
import pandas as pd
import numpy as np

%matplotlib inline

# Options for pandas
pd.options.display.max_columns = 40

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### Data from kaggle

#### Titanic: Machine Learning from Disaster
https://www.kaggle.com/c/titanic/overview
![Kaggledataset](figure/Titanic.png)

In [2]:
df = pd.read_csv("data/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Pie chart

In [ ]:
# data: label (survived), value
label = df["Survived"].value_counts().keys().tolist()
value = df["Survived"].value_counts().values.tolist()
# Data here 
data = [go.Pie(labels=, values=,.....)]
# Layout here
layout = dist(title=.....)
# Figure here
figure = go.Figure(data=data,layout=layout)
figure.show()

In [ ]:
# express here
figure = px.pie(df, values=...., names=....,
             title='',
              hover_data=..... )
#figure.update_traces(textposition='inside', textinfo='percent')
figure.show()

### Histogram chart

In [ ]:
# data: age of passenger df['Age']
data=[
    go.Histogram(x=....,xbins=.....)])
# defining layout
layout = go.Layout(title="Passenger Age")

figure=go.Figure(data=data,layout=layout)
figure.show()

In [ ]:
# express here, age of passenger df['Age'] and group Survived 
nbins=...
range_x=....
figure = px.histogram(df, x="", color="Survived",
                      opacity=0.9,range_x=range_x,nbins=nbins, 
                      hover_data=..., #marginal="rug"  # visualizing distribution   
                     )
figure=figure.update_layout(barmode=...., title_text=....., # title of plot
    xaxis_title_text=...., # xaxis label
    yaxis_title_text='Count', # yaxis label
    bargap=0.2, # gap between bars of adjacent location coordinates
    bargroupgap=0.1 # gap between bars of the same location coordinates)
                           )
figure.show()

### Bar chart

In [5]:
df_Pclass = df.groupby(["Pclass","Survived"]).count().reset_index(inplace=False)
df_Pclass

,Pclass,Survived,PassengerId,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,80,80,80,64,80,80,80,80,59,80
1,1,1,136,136,136,122,136,136,136,136,117,134
2,2,0,97,97,97,90,97,97,97,97,3,97
3,2,1,87,87,87,83,87,87,87,87,13,87
4,3,0,372,372,372,270,372,372,372,372,6,372
5,3,1,119,119,119,85,119,119,119,119,6,119

In [ ]:
# data: x: Pclass of passengers and y: Survived
data = [go.Bar(name="Survived", x=......, y=df[df_Pclass.Survived==1]["PassengerId"]), 
        go.Bar(name="Not Survived", x =...., y=df[df_Pclass.Survived==0]["PassengerId"])
]

# Change the bar mode
layout = go.Layout(barmode='group',title="",
                           xaxis_title_text="",yaxis_title_text="Count")
figure=go.Figure(data=data,layout=layout)
figure.show()

In [ ]:
# express here, Pclass of passengers and group Survived 
figure = px.bar(df_Pclass, x=....., y=.....,color=......, hover_data=['....'])
# Change the bar mode
figure=figure.update_layout(barmode='group',title="",
                           xaxis_title_text="",yaxis_title_text="Count")
figure.show()

### Scatter Plot

In [ ]:
# data: x: Age, y: Fare, text: Survived
data= [go.Scatter(x =...,y=...,text =...,mode='markers')]
# Layout
layout = go.Layout(title='',
                        xaxis_title_text="",yaxis_title_text="")
figure=go.Figure(data=data,layout=layout)
figure.show()

In [ ]:
# express here, 
figure = scatter(df, x=...., y=...., color=....,
                  hover_data=[....])
figure=figure.update_layout(title='',
                        xaxis_title_text="",yaxis_title_text="")
figure.show()

### Bubble Chart

In [ ]:
# data: x: Age, y: Fare, text:Pclass, size:Pclass*15, color:Survived
data = [go.Scatter(x = ...,y=...,
               text=...,
                mode='markers',
               marker=dict(size=.....*15, color=.....,showscale=True))]
# Layout
layout = go.Layout(title='',
                        xaxis_title_text="",yaxis_title_text="")

figure=go.Figure(data=data,layout=layout)
figure.show()

In [ ]:
# express here
figure = px.scatter(df, x="", y="",
                 size="", color="",
                 hover_data=[''], size_max=40)

figure=figure.update_layout(title='',
                        xaxis_title_text="",yaxis_title_text="")
figure.show()

### Box Plot

In [ ]:
# data: y: Fare, group by Survived df[df.Survived==1]
data = [
    go.Box(y=...., name= 'Survived', boxpoints='all',
                marker_color = 'indianred', text=.....),
    go.Box(y=...., name= 'Not Survived', boxpoints='all',
                marker_color = 'darkblue', text=.....)
]
# Layout
layout = go.Layout(title='')
figure=go.Figure(data=data,layout=layout)
figure.show()

In [ ]:
# express here
figure = px.box(df, x="", y="",
             notched=False, # used notched shape
             title="",
             hover_data=["...."] # add day column to hover data
            )

figure.show()